#cm-style {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 32px;
}

#cm-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    -webkit-transition: 0.4s;
    transition: .4s;
}

#cm-style input {
    display: none;
}


#cm-toggle:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + #cm-toggle {
    background-color: black;
}

input:focus + #cm-toggle {
    box-shadow: 0 0 1px black;
}

input:checked + #cm-toggle:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

#cm-toggle.round {
    border-radius: 34px;
}

#cm-toggle.round:before {
    border-radius: 50%;
}